body{
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-variant-caps: all-small-caps;
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(36, 36, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

button {
    background-color: rgb(75, 76, 75);
    padding: 20px;
    color: #ffffff;
    font-size: 20px;

}

.pokedex-container{
    border: 1px solid rgb(153, 153, 153);
    border-radius: 8px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    background-color: #d2d2d2;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
}
#pokemonList {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 8px;
    text-align: center;
}
.pokemon-card {
    border: 2px solid #666666;
    box-shadow: 4px 2px 4px 2px #707070;
    background-color: white;
    border-radius: 500px;
    margin: 10%;
    padding: 50px 20px 20px 20px;
    text-align: center;
    font-size: 15px;
}

#pokemonDetail {
    display: flex;
    flex-direction: column;
}
/* 
#pokemonInfo {
    font-size: 22px;
} */

.grass{
    border: 2px solid green;
}

.fire{
    border: 2px solid rgb(128, 32, 0);
}

@media (width <500px){
    #pokemonList{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (width <700px) and (width >= 500px){
    #pokemonList{
        grid-template-columns: repeat(2,1fr);
        }
}

@media (width <900px) and (width >= 700px){
    #pokemonList{
        grid-template-columns: repeat(3,1fr);
        }
}